<hr/>
<div class="row-fluid">
  <ul class="nav nav-tabs">
    <li id="users" class="nav-info"><a href="#">Users</a></li>
    <li id="groups" class="nav-info"><a href=<%= admin_show_groups_url(format: :json) %>>Groups</a></li>
    <li id="proposals" class="nav-info"><a href=<%= admin_show_proposals_url(format: :json)%>>Proposals</a></li>
    <li ><%= link_to "Offline Records", offline_records_url %></li>
  </ul>

</div>

<div class="row-fluid" id="whole-table">
  <table class="table">
    <thead id="draw-head">
    </thead>
    <tbody id="draw-body">
    </tbody>
  </table>
</div>



<!--  <%= javascript_include_tag "admin" %> -->