<div class="container" id="group">
  <div class="row">
    <p id="basic-group-info" class="text-center">
      Betray penalty is {{model.group.betray_penalty}}; Round id {{ model.group.round_id }}
    </p>

  </div>


  <div class="alert alert-success" ng-if='isAckedByMyself() == false && model.group.status == "deal"'>
    <p><strong>{{ model.group.deal.submitterName }} and {{ model.group.deal.acceptorName }} made a deal, click this button and wait</strong>
    </p>
    <button class="btn btn-default" ng-click="nextRound()">Next Round</button>
  </div>

  <div class="alert alert-info" ng-if='isAckedByMyself() == true && model.group.status == "deal"'>
    <strong>Please wait others to confirm</strong>
  </div>



  <div class="row">
    <table class="table" id="statistics">
      <thead>
        <tr>
          <th>Players</th>
            <th ng-repeat="user in model.group.users">{{ user.username }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>total earning</td>
          <td ng-repeat="user in model.group.users">{{ user.total_earning }}</td>
        </tr>
        <tr>
          <td>last_earning</td>
          <td ng-repeat="m in model.group.last_earning track by $index">{{ m }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" id="opponents">
    <div ng-repeat="opponent in model.opponents track by $index" class="col-md-6 thumbnail">
      <p>Opponent: {{ opponent.username }}</p>
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th ng-repeat="user in model.group.users">{{ user.username}}</th>
        </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              Proposal
            </td>
            <td ng-repeat="money in opponent.proposal_to_me.moneys track by $index">{{ money }}</td>
          </tr>
        </tbody>
      </table>

      <div>
        <button class="btn btn-default btn-block" type="submit" ng-click="accept($index)">
          ACCEPT
        </button>
      </div>
          

      <hr/>

      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th ng-repeat="user in model.group.users">{{ user.username }}</th>
        </tr>
        </thead>

        <tbody id="me">
          <tr>
            <td>my proposal</td>
            <td ng-repeat="money in opponent.proposal_from_me track by $index">{{ money }}</td>
          </tr>
        </tbody>

      </table>

      <form class="form-inline" role="form" ng-controller="MyProposalCtrl" ng-submit="submit()">
        <div class="form-group" ng-repeat="money in proposal_from_me track by $index">
          <label>{{ model.group.users[$index].username }}</label>
          <input type="text" class="input-mini" ng-model="proposal_from_me[$index]">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default btn-block">SUBMIT</button>
        </div>
      </form>
  </div>

</div>