<%= form_tag "/users", method: "post", class: "form-horizontal", role: "form", id: "signup" do %>
    <div class="form-group text-center">
      <label for="inputEmail3" class="col-md-1 col-md-offset-4 control-label">邮箱</label>
      <div class="col-md-3">
        <input type="email" class="form-control" id="inputEmail3" placeholder="" name="user[email]">
      </div>
    </div>
    <div class="form-group">
      <label for="inputWeibo3" class="col-md-1 col-md-offset-4 control-label">微博</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="inputWeibo3" placeholder="" name="user[username]">
      </div>
    </div>


    <div class="form-group">
      <label for="inputPassword3" class="col-md-1 col-md-offset-4 control-label">密码</label>
      <div class="col-md-3">
        <input type="password" class="form-control" id="inputPassword3" placeholder="" name="user[password]">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3 col-md-offset-5">
        <button type="submit" class="btn btn-default">注册</button>
        <a href="/login" class="btn btn-default" role="button">登录</a>
      
      </div>
      
    </div>
<% end %>