<ul>
  <li class="row offset1">
    <p class="lead">Some rule</p>
  </li>

  <li class="row offset1">
    <p class="lead">Some rule</p>
  </li>
</ul>

<div class="row-fluid offset4">
  <a class="btn btn-large btn-primary btn-success">Start</a>
</div>

