<form id="signup">
  <fieldset>
    <legend>{{t "signup"}}</legend>

    <div class="alert alert-error" style="display:none;"></div>

    <div class="control-group">
      <label for="name" class="control-label">{{ t "username" }}</label>
      <div class="controls">
        <input type="text" name="username" id="username" placeholder="Username" />
      </div>
    </div>

    <div class="control-group">
      <label for="description" class="control-label">{{t "password"}}}</label>
      <div class="controls">
        <input type="password" name="password" id="password" placeholder="Password" />
      </div>
    </div>

    <button type="submit" class="btn">{{t "submit"}}</button>
  </fieldset>
</form>