// Place all the styles related to the room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.square {
    cursor: pointer;
    width:84px;
    height:84px;
    border:4px solid #eeeee8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 4px;
    float:left;
    text-align: center;
    background-color:#eeeee8;
    font-size: 65px;
}

.square-join {
    cursor: pointer;
    width:84px;
    height:84px;
    border:4px solid #eeeee8;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 4px;
    float:left;
    text-align: center;
    background-color: red;
    font-size: 65px;
}
