// Place all the styles related to the vote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.game-block {
  // border: 10px solid #ccc;
  color: white
}

// #group {
//   color: white
// }

.thumbnail {
  background: none;
}